.RscObserverWindow:not(.inline) {
    float:right;
    width:35vw;
    height:90vh;
    border:1px solid black;
    background-color: white;
    overflow:auto;
}
.RscObserverWindow:not(.inline) ~ * {
    float:left;
    width:55vw;
}
.RscObserverWindow.inline {
    margin:5px;
    border:1px solid #666;
    padding:5px;
    font-size:smaller;
    overflow-x:scroll;
    overflow-y:auto;
    max-height:300px;
}
.RscObserverWindow .inserted {
    outline: none !important;
}
.RscObserverWindow pre {
    margin:0;
}