body {
    font-family:monospace;
    padding:5px 5px 100px 5px;
}
div.box {
    margin: 5px;
    border: 1px solid black;
    padding: 2px 10px;
    background-color: rgba(171, 121, 66, 0.2);
}
.page-info {
    font-size:100%;
    font-weight:normal;
    margin:0;
}
.page-info a {
    margin-left:10px;
}
span.timer {
    border:1px solid #333;
    background-color:#eee;
    color:red;
    border-radius:3px;
    font-size:10px;
    padding:2px;
    font-family:sans-serif;
}
.inserted {
    outline:2px solid red;
}
.contentChanged {
    color:red;
}
.contentChanged > * {
    color:initial;
}
a.button {
    background-color: #618c45;
    color: white;
    border:1px solid #333;
    border-radius:5px;
    padding:2px 10px;
    display:inline-block;
    text-decoration: none;
    cursor: pointer;
}
a.button:hover {
    text-decoration: underline;
}
a.button:before {
    content:'Next: ';
}
a.button:after {
    content:' > '
}
a.view-source {
    background-color: #b4e1ee;
    border:1px solid #333;
    color:black;
    border-radius:5px;
    padding:2px 10px;
    display:inline-block;
    text-decoration: none;
    cursor: pointer;
    font-weight:bold;
}
a.view-source:after {
    content: "\1F855";
    padding-left:5px;
}
ul li, ol li {
    margin:5px 0;
}
pre.code {
    border:1px solid #333;
    background-color: #eee;
    padding:5px;
}
code {
    white-space: pre;
    display:block;
}
.client-component {
    background-color: #a2e3f6;
    border:1px solid black;
}
.highlight {
    background-color:yellow;
    font-weight:bold;
}