html {
    background-color:#666;
}
body {
    font-family:"JetBrains Mono", monospace;
    padding:15px 20px 100px 20px;
    max-width:1000px;
    margin-right:auto;
    margin-left:auto;
    background-color:#fcfcfc;
    border:1px solid #666;
    font-size:13px;
    line-height:1.5;
}
img {
    max-width:90%;
}
img.logo {
    width:64px;
    height:64px;
    float:left;
    margin-right:25px;
}
.box {
    margin: 5px;
    border: 1px solid black;
    padding: 2px 10px;
    background-color: rgba(171, 121, 66, 0.2);
}
.page-info {
    font-size:100%;
    font-weight:normal;
    margin:0;
}
.page-info a {
    margin-left:10px;
}
span.timer {
    border:1px solid #333;
    background-color:#eee;
    color:red;
    border-radius:3px;
    font-size:10px;
    padding:2px;
    font-family:sans-serif;
}
.inserted {
    outline:2px solid red;
}
.contentChanged {
    color:red;
}
.contentChanged > * {
    color:initial;
}
a.button {
    background-color: #618c45;
    color: white;
    outline:1px solid #333;
    border-radius:5px;
    padding:0 10px;
    display:inline-block;
    text-decoration: none;
    cursor: pointer;
}
a.button:hover {
    text-decoration: underline;
}
a.button:before {
    content:'Next: ';
}
a.button:after {
    content:' > '
}
a.view-source {
    background-color: #b4e1ee;
    outline:1px solid #333;
    color:black;
    border-radius:5px;
    padding:0 7px;
    display:inline-block;
    text-decoration: none;
    cursor: pointer;
}
a.view-source:after {
    content: "\1F855";
    padding-left:3px;
}
ul li, ol li {
    margin:5px 0;
}
pre.code {
    border:1px solid #333;
    background-color: #eee;
    padding:5px;
    overflow:auto;
}
pre.code.wrap {
    white-space: normal;
}
.file-source-title {
    color:#999;
    font-style: italic;
}
.file-source-title ~ pre.code {
    margin-top:0;
}
code {
    white-space: pre;
    display:block;
}
.client-component {
    background-color: #a2e3f6;
    border:1px solid black;
}
.highlight {
    background-color:yellow;
    font-weight:bold;
}
dt {
    font-weight:bold;
}
dt:before {
    content:"Q: ";
}
dd:before {
    content:"A: ";
}