body {
    font-family:monospace;
    padding:0;
}
div.box {
    margin: 5px;
    border: 1px solid black;
    padding: 2px 10px;
    background-color: rgba(171, 121, 66, 0.2);
}
.page-info {
    font-size:100%;
    font-weight:normal;
    margin:0;
}
.page-info a {
    margin-left:10px;
}
span.timer {
    border:1px solid #333;
    background-color:#eee;
    color:red;
    border-radius:3px;
    font-size:10px;
    padding:2px;
    font-family:sans-serif;
}
.inserted {
    outline:2px solid red;
}
.contentChanged {
    color:red;
}
.contentChanged > * {
    color:initial;
}